/* Mobile First */
/* Globals
=====================*/

body {
	font-size: 1.7em;
}
a {
	color: #660066;
}
a:hover {
	color: #480048;
}
/* Nav
=====================*/

.nav-justified {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.2em;
	margin-bottom: 30px;
}
.nav-justified li a {
	border-bottom: 1px solid #ccc;
	/*border-top: 1px solid #fff;*/
	margin-bottom: 0;
	background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
}
.nav-justified li:first-child a {
	border-top: 0;
	border-radius: 5px 5px 0 0;
}
.nav-justified li:last-child a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}
.nav-justified a:hover,
.nav-justified a:focus {
	background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient(top, #e5e5e5 0%, #f5f5f5 100%);
}
.nav-justified .active > a, 
.nav-justified .active > a:hover, 
.nav-justified .active > a:focus {
	background-color: #ddd;
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

/* Sliding Jumbotron
=====================*/

.jumbotron {
	background-color: #fff;
	padding-top: 10px;
}
.carousel-control.right, 
.carousel-control.left {
	background-image: none;
}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	color: #222;
}
.carousel-control .icon-prev {
	left: 30px;
}
.carousel-control .icon-next{
	right: 30px;
}
.carousel-indicators .active {
	background-color: #222;
}
.carousel-indicators li {
	border-color: #222;
}
.calligraphy {
	background: url('../img/bg-bg.png') no-repeat 10.5em 2em;
}
.wisdom {
	background: url('../img/bg-ro.png') no-repeat 10.5em 2em;
}
.zen {
	background: url('../img/bg-brg.png') no-repeat 10.5em 2em;
}

/*.item {
	margin-top: 40px;
}*/

/* Logo & Icons
=====================*/

.logo {
	margin-bottom: 10px;
	text-align: center;
}
.logo h3 {
	display: inline;
}
.logo h3:first-child {
	color: #660066;
}
.carousel-inner .item .head-icon {
	text-align: center;
}
.carousel-inner .item .glyphicon {
	margin-top: 100px;
	font-size: 8em;
}

/* Content
=====================*/

.index-content {
	background-color: #b69dff;
	-webkit-transform: skewY(8deg);
  	-moz-transform: skewY(8deg);
  	-ms-transform: skewY(8deg);
  	-o-transform: skewY(8deg);
  	transform: skewY(8deg); 
}
.index-content > .container {
	-webkit-transform: skewY(-8deg);
  	-moz-transform: skewY(-8deg);
  	-ms-transform: skewY(-8deg);
  	-o-transform: skewY(-8deg);
  	transform: skewY(-8deg); 
  	padding: 70px 0;
}
.index-content2 {
	background-color: #d3ffea;
	-webkit-transform: skewY(8deg);
  	-moz-transform: skewY(8deg);
  	-ms-transform: skewY(8deg);
  	-o-transform: skewY(8deg);
  	transform: skewY(8deg); 
}
.index-content2 > .container {
	-webkit-transform: skewY(-8deg);
  	-moz-transform: skewY(-8deg);
  	-ms-transform: skewY(-8deg);
  	-o-transform: skewY(-8deg);
  	transform: skewY(-8deg); 
  	padding: 70px 0;
}
.index-content3 {
	background-color: #b2efff;
	-webkit-transform: skewY(8deg);
  	-moz-transform: skewY(8deg);
  	-ms-transform: skewY(8deg);
  	-o-transform: skewY(8deg);
  	transform: skewY(8deg); 
}
.index-content3 > .container {
	-webkit-transform: skewY(-8deg);
  	-moz-transform: skewY(-8deg);
  	-ms-transform: skewY(-8deg);
  	-o-transform: skewY(-8deg);
  	transform: skewY(-8deg); 
  	padding: 70px 0;
}

/* Footer
=====================*/

input[type="text"],
input[type="email"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 75%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}
form > .btn-success {
	width: 75%;
	height: 45px;
	background-color: #8add6d;
	background-image: -webkit-linear-gradient(top, #8add6d 0%, #60b044 100%);
	background-image: -moz-linear-gradient(top, #8add6d 0%, #60b044 100%);
	background-repeat: repeat-x;
	border-color: #5ca941;
}
form > .btn-success:hover {
	background-image: -webkit-linear-gradient(top, #60b044 0%, #8add6d 100%);
	background-image: -moz-linear-gradient(top, #60b044 0%, #8add6d 100%);
}
img[src="img/hanko.png"] {
	position: relative;
	bottom: -5.6em;
	left: -5em;
}
footer ul, footer ul li {
	list-style-type: none;
	font-style: italic;
}
.social, .social > li {
	list-style-type: none;
	padding-left: 0;
	font-style: normal;
	font-size: 1.5em;
	display: inline-block;
}
.social > li {
	margin-left: 15px;
}
.social > li:first-child {
	margin-left: 0;
}
.fa-facebook-square {
	color: #4b87e0;
}
.fa-github,
.fa-angellist {
	color: black;
}
.fa-twitter {
	color: #78cfe0;
}
.fa-dribbble {
	color: #ff94a8;
}
.fa-facebook-square:hover,
.fa-github:hover,
.fa-angellist:hover,
.fa-twitter:hover,
.fa-dribbble:hover, {
	color: #660066;
}
.legal {
	font-size: .8em;
}


/* Media Queries 
=====================*/

@media only screen and (min-width: 768px) {
	/* Nav
	=====================*/
	.nav-justified li a {
		border-right: 1px solid #ccc;
		border-left: 1px solid #fff;
		border-bottom: 0;
	}
	.nav-justified li:first-child a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified li:last-child a {
		border-right: 0;
		border-radius: 0 5px 5px 0;
	}
	/* Footer
	=====================*/
	.social, .social > li {
		font-size: 1.6;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Content
	=====================*/
	.index-content img,
	.index-content2 img,
	.index-content3 img {
		margin-top: 60px;
	}
		/* Sliding Jumbotron
	=====================*/
	.calligraphy {
	background: url('../img/bg-bg.png') no-repeat 5em 2em;
	}
	.wisdom {
		background: url('../img/bg-ro.png') no-repeat 5em 2em;
	}
	.zen {
		background: url('../img/bg-brg.png') no-repeat 5em 2em;
	}
}

}

@media only screen and (max-width: 1199px) {
	.social,
	.social > li {
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 991px) {
	.social,
	.social > li {
		font-size: 1em;
	}
}
